:root {
  --bg-overlay-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  --text-color: rgba(230, 238, 254, 1); /* Light bluish text color */
  --font-family: 'Inter', sans-serif; /* Common font family */
  --heading-font-size-large: 35px;
  --heading-font-size-small: 28px;
  --heading-line-height-large: 50px;
  --heading-line-height-small: 40px;
}

.custom-hero-layout {
  position: relative;
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.custom-hero-layout .hero-content {
  gap: 30px;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
  position: relative;
  padding: 80px 50px 33px 80px;
  background-color: var(--bg-overlay-color);
}

.custom-hero-layout .hero-message {
  gap: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 0px;
}

.custom-hero-layout .hero-message .heading {
  font-family: var(--font-family);
  font-size: var(--heading-font-size-large);
  font-weight: 400;
  color: var(--text-color);
  line-height: var(--heading-line-height-large);
  text-align: center;
  display: block;
}

.custom-hero-layout .hero-message .button {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .custom-hero-layout {
      flex-direction: column;
  }

  .custom-hero-layout .hero-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center; /* Ensure that all children are centered horizontally */
    justify-content: center; /* Vertically center the contents */
    padding: 80px 50px 33px 80px;
    background-color: rgba(0, 0, 0, 0.5); /* For better text readability */
  }

  .custom-hero-layout .hero-message .heading {
      font-size: var(--heading-font-size-small);
      line-height: var(--heading-line-height-small);
  }
}
