:root {
  --bg-overlay-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  --text-color: rgba(230, 238, 254, 1); /* Light bluish text color */
  --font-family: 'Inter', sans-serif; /* Common font family */
  --heading-font-size-large: 35px;
  --heading-font-size-small: 28px;
  --heading-line-height-large: 50px;
  --heading-line-height-small: 40px;
}

.customHeroLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Adjusted gap for better responsiveness */
  width: 100%; /* Use full width of the parent Flex */
  max-width: 500px; /* Ensure a maximum width */
  padding: 20px;
  background-color: var(--bg-overlay-color);
}

.heading {
  font-family: var(--font-family);
  font-size: var(--heading-font-size-large);
  font-weight: 400;
  color: var(--text-color);
  line-height: var(--heading-line-height-large);
  text-align: center;
  display: block;
}

.button {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .customHeroLayout {
    height: auto; /* Adjust height for smaller screens */
    padding: 20px; /* Add some padding */
  }

  .heroContent {
    width: 90%; /* Adjust width for smaller screens */
    padding: 20px; /* Add some padding */
  }

  .heading {
    font-size: var(--heading-font-size-small);
    line-height: var(--heading-line-height-small);
  }

  .button {
    font-size: 1rem; /* Adjust button font size for smaller screens */
    padding: 10px 20px; /* Adjust button padding */
    width: auto; /* Ensure the button does not take full width on small screens */
  }
}

@media (max-width: 375px) {
  .heroContent {
    gap: 15px; /* Adjust gap for very small screens */
    padding: 10px;
  }

  .heading {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
    line-height: 2rem;
  }

  .button {
    font-size: 0.875rem; /* Further adjust button font size */
    padding: 8px 16px;
    width: 100%; /* Ensure button is fully visible */
  }
}
