:root {
  --bg-overlay-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  --text-color: rgba(230, 238, 254, 1); /* Light bluish text color */
  --font-family: 'Inter', sans-serif; /* Common font family */
  --heading-font-size-large: 35px;
  --heading-font-size-small: 28px;
  --heading-line-height-large: 50px;
  --heading-line-height-small: 40px;
}

.customHeroLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px; /* Adjusted gap */
  width: 100%; /* Use full width of the parent Flex */
  padding: 80px 50px 33px 80px;
  background-color: var(--bg-overlay-color);
}

.heading {
  font-family: var(--font-family);
  font-size: var(--heading-font-size-large);
  font-weight: 400;
  color: var(--text-color);
  line-height: var(--heading-line-height-large);
  text-align: center;
  display: block;
}

.button {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .customHeroLayout {
      flex-direction: column;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 50px 33px 80px;
    background-color: rgba(0, 0, 0, 0.5); /* For better text readability */
  }

  .heading {
      font-size: var(--heading-font-size-small);
      line-height: var(--heading-line-height-small);
  }
}
