/* NavBarHeader.module.css */

.navbarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 6px rgba(0.05, 0.1, 0.15, 0.15);
    box-sizing: border-box; /* Ensures padding and borders are included within the width and height */
    width: 100%;
    margin: 0 auto; /* Center the navbar horizontally */
    overflow: visible;
   }
   
   .navbarLogoSection, .navbarMenuSection, .navbarContactSection {
    display: flex;
    align-items: center;
   }
   
   .navbarMenuSection {
    gap: 32px;
    flex-grow: 1;
    justify-content: center;
   }
   
   .navbarContactSection {
    gap: 8px;
   }
   
   .navbarFreeConsultationButton {
    display: none;
   }
   
   .navbarMenuToggle {
    display: none;
    cursor: pointer;
   }
   
   @media (max-width: 1200px) {
    .navbarMenuSection {
     display: none !important; /* Hide the menu section on screens smaller than 1200px */
    }
   
    .navbarFreeConsultationButton {
     display: none !important; /* Hide the Free Consultation button on screens smaller than 1200px */
    }
   
    .navbarMenuToggle {
     display: block; /* Show the menu toggle button on smaller screens */
    }
   
    .navbarLogoSection {
     justify-content: flex-start; /* Keep the logo aligned to the left */
    }
   
    .navbarContactSection {
     justify-content: flex-end; /* Keep the contact aligned to the right */
    }
   
    .navbarDropdownMenu {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 60px;
     right: 32px;
     background-color: rgba(255, 255, 255, 1);
     box-shadow: 0px 2px 6px rgba(0.05, 0.1, 0.15, 0.15);
     padding: 16px;
     z-index: 100;
    }
   }
   